* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Questrial', sans-serif;
}

h1,
h2 {
	font-family: 'Cabin', sans-serif;
	text-transform: uppercase;
	color: #000;
}

.body-wraper {
	display: flex;
	height: auto;
	width: 800px;
	margin: 0 auto;
	border: 5px solid #000;
	border-style: inset;
	border-radius: 5px;
	box-shadow: 1px 4px 5px -41px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 1px 4px 5px -41px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 4px 5px -41px rgba(0, 0, 0, 0.75);
}

.side-bar {
	color: #fff;
	flex: 5;
	height: 100%;
}

.header,
.contact {
	background-color: #f4f2f2;
	padding: 8px 13px;
	color: #000;
}

.contact,
.education {
	line-height: 1.6rem;
	overflow: hidden;
}

.header h1 {
	font-size: 2rem;
}

.header h2 {
	font-size: 1.2rem;
	display: flex;

	text-transform: capitalize;
	font-weight: 100;
}

.header li {
	list-style-type: none;
	margin: 5px;
	font-size: 1rem;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.9);
}

.socialIcon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 13px;
}

.education,
.skill {
	background-color: #f4f2f2;
	color: #000;
	padding: 8px 13px;
}

.education h2,
h3 {
	margin: 5px 0;
	overflow: hidden;
}

.education-recent p:nth-child(1) {
	font-weight: bold;
}

.courses li {
	list-style-type: none;
	color: #000;
}

.courses li::before,
.skills li::before,
.personal-projects li::before {
	content: '✓  ';
}

.main-body {
	color: #000;
	flex: 8;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 8px 13px;
	line-height: 1.5rem;
}

.main-body h2 {
	margin: 10px 0;
	overflow: hidden;
}

.skills {
	height: auto;
	width: 100%;
}

.work-headers {
	display: flex;
	justify-content: flex-start;
}

.dates,
.location {
	flex: 6;
}

.dates span,
.location span {
	margin-right: 10px;
}

.work-experiance li::before {
	content: '●';
	margin: 0 5px;
}

@media screen and (max-width: 600px) {
	.body-wraper {
		flex-direction: column;
		border: medium;
		overflow-x: hidden;
		width: auto;
	}
}
